.panel {
    margin-left:20%;
    margin-right:20%;
}
.list-group {
    font-size: 20px;
}
.c1 {
    font-size: 20px;
    text-align: center;
}
a:hover{
    cursor:pointer;
}
hov:hover {
    cursor:pointer;
}
.kksk {
    margin-left: 20%;
    margin-right: 20%;
}